h1{
    color: rgba(277, 0, 0, 0.5);
    background-color: #fefefe;
    padding: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 10px;
    text-decoration:overline underline;
    text-shadow: 2px 5px #c4c4c4;
}

.container{
    /* border-width: 5px;
    border-style:dotted;
    border-color:  rgb(0, 0, 0, 0.5); */
    border: 5px dotted rgba(0, 0, 0, 0.5);
    border-radius: 20px 8px;
    margin: 100px;
    padding: 50px;
    /* outline-color: green;
    outline-style: double;
    outline-width: 10px; */
    outline: 10px double #27ae2d;
}

.transform{
    height: 50px;
    width: 50px;
    background-color: #27ae2d;
   
}
.transform:hover{
    /* transform: rotate(30deg); */
    transform: scale(3);
}
.transition{
    height: 30px;
    width: 50px;
    background-color: black;
    transition: height 1s;

}
.transition:hover{
    height: 50px;
}

.animation{
    background-color: #27ae2d;
    animation: example 2s;
    animation-iteration-count: infinite;
}

@keyframes example {
    /* from{background-color: #27ae2d; color: yellow;}
    to{background-color: yellow; color: green;} */
    0%{background-color: #27ae2d; color: yellow}
    50%{background-color: aqua; color: white};
    100%{background-color: yellow; color: black}
}